
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


</head>
<body>

    <h2>Table</h2>

    <table>
        <tr>
            <th>NAME</th>
            <th>PRICE</th>
            <th>COMPANY</th>
        </tr>
        <tr>
            <td>S7</td>
            <td>50000</td>
            <td>SAMSUNG</td>
        </tr>
        <tr>
            <td>S8</td>
            <td>60000</td>
            <td>SAMSUNG</td>
        </tr>
        <tr>
            <td>6S</td>
            <td>40000</td>
            <td>IPHONE</td>
        </tr>
        <tr>
            <td>A3</td>
            <td>30000</td>
            <td>NOKIA</td>
        </tr>
        <tr>
            <td>A5</td>
            <td>33000</td>
            <td>NOKIA</td>
        </tr>
        <tr>
            <td>F3</td>
            <td>3000</td>
            <td>OPPO</td>
        </tr>
    </table>

</body>
</html>


