
@{
    ViewBag.Title = "ProductDetail";
}
<h2>ProductDetail</h2>
<html>
<head>
<style>
        table, th, td {
            border: 2px solid black;
            background-color: #EEEEEE;
            text-align: center;
            padding: 50px;
            border-collapse: collapse;
            border-spacing: 10px;
        }

            table#t01 th {
                background-color: Grey;
                color: white;
            }
    </style>
</head>


<body>
    <table id="t01" align="center" style="width: 100%">

            <caption> Product Details</caption>
            
            <tr>
            <th> Name</th>
            <th> Model</th>
            <th> Price</th>
            </tr>
            <tr>
            <td> Samsung</td>
            <td> S9</td>
            <td> $800</td>
            </tr>
            <tr>

            <td> Apple</td>
            <td> IphoneX</td>
            <td> $1000</td>
            </tr>
            <tr>
            <td> Blackberry</td >
            <td> Torch 9280</td >
            <td> $300</td >
            </tr>
            </table>
            </body>
            </html>

