@using SleeperCell.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    
        Layout = null;
    

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Sleeper Cell</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">


        <div class="login-box">
            <div class="login-logo">
                <a href="../../index2.html"><b>SleeperCell</b>POS</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group has-feedback">

                        <input class="form-control valid" placeholder="Email" data-val="true" data-val-required="The UserName field is required." id="UserName" name="UserName" type="text" value="" aria-describedby="UserName-error" aria-invalid="false">

                        <span class="glyphicon glyphicon-envelope form-control-feedback" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group has-feedback">

                        <input class="form-control" data-val="true" placeholder="Password" data-val-required="The Password field is required." id="Password" name="Password" type="password">
                        <span class="glyphicon glyphicon-lock form-control-feedback" data-valmsg-for="Password" data-valmsg-replace="true"></span>

                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">

                                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember Me

                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                        <i class="fa fa-facebook"></i> Sign in using
                        Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                        <i class="fa fa-google-plus"></i> Sign in using
                        Google+
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <a href="/Account/ForgotPassword">I forgot my password</a><br>
                <a href="/Account/Register" class="text-center">Register a new membership</a>

            </div>
            <!-- /.login-box-body -->
        </div>

  

</body>
</html>