@{
    ViewBag.Title = "Home Page";
}

<section class="content-header">
    <h1>
        Sleeper Cell Dashboard
        <small>You will find fun here</small>
    </h1>
 
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!--------------------------
    | Your Page Content Here |
    -------------------------->
    
    <h1>Hi There</h1>
</section>
